<!-- {% extends 'base.html' %}
{% block title %} | Products {% endblock %}
{% block content %}
<div class="row margin" >

    {% for listing in listings %}
    <div class="col-sm-3 mb-3 ml-3 mr-3">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="{{ listing.img_url}}" alt="{{ listing.name }}">
                <h5 class="card-title">{{ listing.name }}</h5>
                <p class="card-text">{{ listing.desc }}</p>
                <a href="{{ listing.url }}" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
    </div>
    {% endfor %}
    
    
</div>
{% endblock %} -->

