

.center {
   text-align: center;
 }

.right {
   text-align: right
}

 .dropdown-menu>li>a:hover {
   color: #262626;
   text-decoration: none;
   background-color: #1daf7e;;
}

div.margin {
   margin-top: 50px;
   margin-bottom: 50px;
   margin-right: 50px;
   margin-left: 50px;
 }

.kitchen_img {
   
   height: 600px;
  
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  width: 100%;
}
.carousel{
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}
.carousel .card{
  color: #fff;
  text-align: center;
  margin: 20px 0;
  line-height: 50px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}
.carousel .card-x{
  background: #1daf7e;
}

.style{
   font-size: 25px;
  font-weight: 100;
  color: #fff;
}

h1 {
   font-size: 5em;
   
   background-color: #1daf7e;
   text-transform: uppercase;
 }
 
 span {
   border-right: .05em solid;
   animation: caret 1s steps(1) infinite;
 }
 
 @keyframes caret {
   50% {
     border-color: transparent;
   }
 }

/* .owl-dots{
  text-align: center;
  margin-top: 40px;
}
.owl-dot{
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #0072bc!important;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
  background: #0072bc!important;
} */

/* Bordered form */
form {border: 3px solid #0a3b5e;;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #0a3b5e;;
  box-sizing: border-box;
}

button {
  background-color: #1daf7e;
  color: #0a3b5e;;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 15%;
  border-radius: 20%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}




